body {
    background-color: #111111;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

label {
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.dropdown-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.Select {
    width: 250px !important; /* Wider dropdown */
}

.Select-control,
.Select-menu-outer,
.Select-placeholder {
    background-color:#d3d3d383 !important;
    border-radius: 12px !important;
    color: #333 !important;
    border: none !important;
    min-height: 38px;
}

.Select-value-label {
    color: #333 !important;
}

.graph-container {
    background-color: #d3d3d383;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    margin-top: 30px;
}
